 

 /* .main div{
     
    margin-top: 5em;
    margin-left: 25em;
    /* align-items: center; */
    /* background-color: antiquewhite;
 } */ 

 article{
    display: flex;
    max-width: 100vh;
    max-height: 50;
    align-items: end;
    margin-top: 5em;
    margin-left: 25em;
    /* align-items: center; */
    background-color: antiquewhite;
 }